
.logo, nav ul{
  margin: 0;
}
.logo a > img{
  height: 70px;
}
nav{
  height: 80px;
  background-color: #1e1e1e;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.list-menu li{
  display: inline-block;
  list-style: none;
  cursor: pointer;
  margin: 4px;
  padding: 8px;
}
.list-contact li a{
  text-decoration: none;
}
// menu responsivo
.menu-responsive{
  display: none !important;
  position: absolute;
  top: 32px;
  right: 32px;
  font-size: 24px;
  z-index: 20;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .list-menu{
    position: absolute;
    top: 0;
    z-index: 3;
    left: -100%;
    display: grid;
    margin: 0;
    padding: 0;
    height: 85vh;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    transition: 0.5s ease-in-out;
  }
  .list-menu li{
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .list-menu li:first-child{
    margin-top: 10%;
  }
  .active{
    left: 0;
  }
  .menu-responsive{
    display: block !important;
    position: fixed;
  }
}
.space{
  height: 72px;
  width: 100%;
}
.footer-container ul li, .list-contact li{
  list-style: none;
}
// about
.about-pic{
  max-width: 100%;
}

// gallery
/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
   div.cssbox {
    display: inline-block;
  }
  
  span.cssbox_full {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
  }
  
  span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
  }
  
  a.cssbox_close,
  a.cssbox_prev,
  a.cssbox_next {
    z-index: 999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
  }
  
  a.cssbox_close {
    top: 1%;
    right: 1%
  }
  
  a.cssbox_close::after {
    content: '\00d7';
  }
  
  a.cssbox_prev,
  a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
  }
  
  a.cssbox_prev {
    left: 5%;
  }
  
  a.cssbox_next {
    right: 5%;
  }
  
  a:target ~ a.cssbox_close,
  a:target ~ a.cssbox_prev,
  a:target ~ a.cssbox_next {
    visibility: visible;
  }
  
  a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }
  /* This is the end of CSSBox */
// gallery